<footer>
  <div class="footer">
    <div class="footerwrap">
      <p>© Inter SNUGGLE Systems B.V 2024-2025</p>
      <nav class="footerbox">
        <div class="footermargin">개인정보처리방침</div>
        <div class="footermargin">쿠키 정책</div>
        <div class="footermargin">쿠키 설정</div>
        <div class="footermargin">웹사이트 이용약관</div>
        <div class="footermargin">Responsible disclosure</div>
      </nav>
    </div>
  </div>
</footer>