<header>
  <div class="headerbox">
    <div class="logotext">WebtoonPop</div>
    <div class="setbox">
      <div class="hearticon">하트</div>
      <div class="loginicon">로그인</div>
    </div>
  </div>
</header>