<header>
  <div class="headerwrap">
    <div class="headerbox">
      <a href="/webtoons">
        <div class="logotext">WebtoonPop</div>
      </a>

      <div class="setbox">
        <a href="/webtoons/cartpage">
          <div class="countwrap">
            <img src="/public/image/cart.png" alt="장바구니" class="carticonbox" />
            <div class="countbox">
              <div class="count">
                <%= cartcount.length %>
              </div>
            </div>
          </div>
        </a>
        <div>
          <img src="/public/image/person.png" alt="로그인" onclick="readyalert()" class="personbox" />
        </div>
      </div>
    </div>
  </div>
</header>
<script src="/public/js/global.js"></script>