<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>웹툰친구</title>
  <link rel="stylesheet" href="/css/main.css" />
</head>

<body>
  <header>
    <div class="headerbox">
      <div>로고</div>
      <div class="setbox">
        <div>하트</div>
        <div>로그인</div>
      </div>
    </div>
  </header>
  <!-- 등록된 아이템들 -->
  <main class="main-wrap">
    <section class="menu">
      <!-- JS로 요소 동적 추가 -->
    </section>

  </main>

  <!-- 페이지네이션 -->
  <div class="pagination-container">
    <button class="prev">&lt&lt</button>
    <button class="prev-btn">&lt</button>
    <div class="numberWrap"></div>
    <button class="next-btn">&gt</button>
    <button class="next">&gt&gt</button>
  </div>

  <!-- 풋터 -->
  <div id="footer-container"></div>
  </div>


  <!-- 탑버튼 -->
  <img src="../image/topBtn.png" alt="topIcon" title="탑" id="top-btn" />

</body>

</html>