<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/public/css/global.css" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WebtoonPop</title>
  <link rel="stylesheet" href="/css/main.css" />
</head>

<body>
  <!-- ν—¤λ” -->
  <%- include("header") -%>

    <div class="mainwrap">
      <main>

      </main>
      <div class="flexbox"></div>

      <!-- ν‘Έν„° -->
      <%- include("footer") -%>
    </div>



</body>
<script src="/public/js/main.js"></script>

</html>