@font-face {
  font-family: "양진체";
  src: url("https://fastly.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

header {
  font-family: "양진체";
  font-size: 25px;
  font-weight: 900;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/* 전체 상자(푸터 하단에 고정하기 위해) */
.mainwrap {
  display: flex;
  flex-direction: column;
  min-height: 70.5vh;

  margin-top: 100px;
}

.headerwrap {
  background-color: white;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  a {
    text-decoration: none;
  }
}

.headerbox {
  max-width: 1320px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.carticonbox {
  width: 35px;
  margin: 2px 5px 0 0;
  cursor: pointer;
}

.personbox {
  width: 40px;
  cursor: pointer;
}
.setbox {
  display: flex;
}

.logotext {
  color: black;
  padding-left: 20px;
}

.hearticon,
.loginicon {
  padding-right: 20px;
}

.flexbox {
  flex: 1;
}

/* 푸터 */
.footer {
  height: 110px;
  padding: 12px 32px;
  font-size: 10px;
  border-top: 1px solid #eee;
  margin-top: 30px;
}
