body {
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  width: fit-content;
}

.selectimgbox {
  width: 200px;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
}

.preimgbox {
  width: 200px;
  height: 200px;
  border: 2px dashed #aaa;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preimgbox:hover {
  background-color: rgba(0, 0, 0, 0.4);
  border-color: #888;
}

.preimgbox:hover::after {
  content: "수정";
  color: #fff;
  position: absolute;
  font-size: 15px;
  z-index: 20;
}

.preimg {
  width: 100%;
  margin: 0 auto;
}

.btn-upload {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed #aaa;
  transition: background-color 0.3s;
}

.btn-upload:hover {
  background-color: rgba(0, 0, 0, 0.4);
  border-color: #888;
}

.btn-upload:hover::after {
  content: "+";
  color: #fff;
  position: absolute;
  font-size: 30px;
}

#image,
#image2 {
  display: none;
}

.imgflex {
  display: flex;
}

button {
  background-color: rgb(169, 169, 253);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  display: block;
  width: 100%;
  margin-top: 10px;
}

button:hover {
  background-color: rgb(120, 120, 220);
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.input-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.input-group input:focus {
  border-color: rgb(169, 169, 253);
  outline: none;
  box-shadow: 0 0 5px rgba(169, 169, 253, 0.5);
}

#name,
#author {
  box-sizing: border-box;
}
